@import url(bootstrap.min.css);

body {
    background-image:url("https://bit.ly/2JDRLav");
    background-size: cover;
}
.container{
    text-align: center;
    font-size: 30px;
}
h1,h2{
    font-weight: bold;
}
#form{
    width: 50%;
    margin: 0 auto;
}